{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_title %} Dashboad {% endblock %}



{% block content %}
    <div class="content">


        <div class="container">
            <div class="row">
                <h1> Tableau de bord </h1>
            </div>
            <h2>promo Actuel</h2>
            <div class="row mt-3">
            
                <div class="col-4 alert-success">
                    <span class="display-3">{{ apprenentcountPositif }} 
                     </span> Apprenant avec un stage
                </div>
                <div class="col-4 alert-danger">
                    <span class="display-3">{{ apprenentEnRecheche }}  </span> Apprenant sans stage
                </div>
                <div class="col-4 alert-dark">
                    <span class="display-3">{{ countAllApprenant }}  </span> Nombre d'apprenants
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-12">
                    <h3>Liste des stagiaire </h3>

                    <table id="example" class="table table-striped table-bordered dt-responsive nowrap" style="width:100%">
        <thead>
            <tr>
                <th>Apprenant ayant trouvé un stage</th>
                <th>Apprenant en attente de réponse aprés un entretient</th>
                <th>Apprenant n'ayant pas trouvé de stage</th>
                
            </tr>
        </thead>
        <tbody>
       
            <tr>
            </tr>
                <td> {% for apprenantCandidaturePositif in          apprenantCandidaturePositifs %}
                        {{apprenantCandidaturePositif.apprenant.nom}} {{apprenantCandidaturePositif.apprenant.prenom}}--{{apprenantCandidaturePositif.entreprise.nom}} {{apprenantCandidaturePositif.entreprise.ville}}<br><br>
                    {% endfor %} 
                </td>
                <td>{% for entretien in entretiens %}
                        
                        {{entretien.apprenant.nom}} {{entretien.apprenant.prenom}}--{{entretien.entreprise.nom}} {{entretien.entreprise.ville}}<br><br>
                    {% endfor %}</td>
                <td>System Architect</td>
            </tr>
            
          
        </tbody>
    </table>
                </div>
            </div>
        </div>
    </div>
    

{% endblock content %}
 